.bwp-navbar {
	overflow: hidden;
}

.bwp-navbar a, .bwp-dropdown-context a, .bwp-dropbtn {
	background-color: var(--action-background-color);
	color: inherit;
}

.bwp-navbar a, .bwp-dropdown-context a {
	text-decoration: none;
	font-size: 16px;
}

.bwp-navbar a {
	float: left;
	text-align: center;
	padding: 12px 16px;
}

.bwp-dropdown-content a {
	float: none;
	padding: 10px 16px;
	display: block;
	text-align: left;
}

.bwp-dropdown {
	float: left;
	overflow: hidden;
}

.bwp-dropdown .bwp-dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	padding: 12px 16px;
	margin: 0;
}

.bwp-navbar a:hover, .bwp-dropdown:hover .bwp-dropbtn {
	background-color: var(--default-highlight-color-high);
}

.bwp-dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.bwp-dropdown-content a:hover {
	background-color: var(--action-background-color-hover);
}

.bwp-dropdown:hover .bwp-dropdown-content {
	display: block;
}

.bwp-navbar a.bwp-menu-active, .bwp-dropdown-context a.bwp-menu-active, .bwp-dropdown:has(a.bwp-menu-active) {
	font-weight: 900;
	text-decoration: underline;
	text-underline-offset: 4px;
	text-decoration-thickness: 3px;
	text-decoration-color: var(--default-highlight-color-higher);
}
