.bwp-fade-in {
	opacity: 1 !important;
}

.bwp-fade-out {
	opacity: 0 !important;
}

.bwp-sideshow {
	transition: opacity 2s;
	opacity: 0;
}

.bwp-sideshow-container:hover > .bwp-sideshow-menu {
	opacity: 1;
	pointer-events: auto;
	animation: bwp-sideshow-menu-fadeout 2s forwards;
}

.bwp-sideshow-menu:hover {
	opacity: 1;
	animation: none !important;
}

.bwp-sideshow-container {
	position: relative;
	display: inline-block;
}

.bwp-sideshow-menu {
	padding: 10px;
	background-color: var(--default-background-color);
	color: var(--default-color);
	font-size: 16pt;
	border: 3px dotted #999;
	position: absolute;
	top: 20px;
	left: 20px;
	opacity: 0;
	pointer-events: none;
}

.bwp-sideshow-menu a {
	line-height: 1.5;
	text-decoration: none;
	color: inherit;
}

.bwp-sideshow-menu a:hover {
	color: var(--default-highlight-color-higher);
}

.bwp-sideshow-menu ol, .bwp-sideshow-error {
	margin: 5px 0px;
}

.bwp-sideshow-menu .bwp-btn {
	width:40px;
	height: 40px;
	float: left;
	font-size: 16pt;
}

.bwp-sideshow {
	width: 100%;
	height: 100%;
}

@keyframes bwp-sideshow-menu-fadeout {
	0%, 75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.bwp-sideshow-error {
	color: var(--default-highlight-color-higher);
}
