.bwp-navbar {
	overflow: hidden;
}

.bwp-navbar a, .bwp-dropdown-context a, .bwp-dropbtn {
	background-color: var(--action-background-color-light);
}

.bwp-navbar a, .bwp-dropdown-context a {
	text-decoration: none;
	font-size: 16px;
	color: var(--default-color-light);
}

.bwp-navbar a {
	float: left;
	text-align: center;
	padding: 12px 16px;
}

.bwp-dropdown-content a {
	float: none;
	padding: 10px 16px;
	display: block;
	text-align: left;
}

.bwp-dropdown {
	float: left;
	overflow: hidden;
}

.bwp-dropdown .bwp-dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	padding: 12px 16px;
	margin: 0;
}

.bwp-navbar a:hover, .bwp-dropdown:hover .bwp-dropbtn {
	background-color: #ffbfaa;
}

.bwp-dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.bwp-dropdown-content a:hover {
	background-color: var(--action-background-color-hover-light);
}

.bwp-dropdown:hover .bwp-dropdown-content {
	display: block;
}

@media (prefers-color-scheme: dark) {
	.bwp-navbar a, .bwp-dropdown-context a, .bwp-dropbtn {
		background-color: var(--action-background-color-dark);
		color: var(--default-color-dark);
	}

	.bwp-navbar a:hover, .bwp-dropdown:hover .bwp-dropbtn {
		background-color: #F00;
	}

	.bwp-dropdown-content a:hover {
		background-color: var(--action-background-color-hover-dark);
	}
}
