/* Diagram-Colors */
.bwp-dc1 { fill: #7cfc00; }
.bwp-dc2 { fill: #ffd700; }
.bwp-dc3 { fill: #ff6347; }
.bwp-dc4 { fill: #20b2aa; }
.bwp-dc5 { fill: #87cefa; }
.bwp-chart { background-color: #EEEEEE; }

.bwp-chart-legend-text {
	font-size: 18px;
}

.bwp-chart[bwp-chart-hover] .bwp-chart-piece:hover .bwp-chart-piece-label,
.bwp-chart[bwp-chart-labels]:not(.bwp-chart[bwp-chart-hover]) .bwp-chart-piece-label
{
	opacity: 1;
}

.bwp-chart[bwp-chart-hover] .bwp-chart-piece:hover {
	filter: brightness(110%);
}

.bwp-chart[bwp-chart-hover] .bwp-chart-piece:hover .bwp-chart-legend-text {
	font-weight: 900;
}

.bwp-chart-piece {
	filter: brightness(80%);
}

.bwp-chart-piece-path {
	stroke: none;
}

.bwp-chart-piece-label {
	opacity: 0;
	transition: opacity .4s ease-in-out;
	pointer-events: none;
	text-anchor: middle;
	dominant-baseline: middle;
}

.bwp-chart:not(.bwp-chart[bwp-chart-labels]) .bwp-chart-piece-label {
	display: none;
}

.bwp-chart-scale {
	font-size: 14px;
}

.bwp-chart-scale, .bwp-chart-axes {
	stroke: var(--default-color-light);
	fill: none;
}

.bwp-chart-grid {
	stroke: rgb(0 0 0 / 0.25);
}

.bwp-columnchart .bwp-chart-scale-x {
	display: none;
}

@media (prefers-color-scheme: dark) {
	.bwp-dc1 { fill: #64b514; }
	.bwp-dc2 { fill: #b89e14; }
	.bwp-dc3 { fill: #e63d1f; }
	.bwp-dc4 { fill: #25837e; }
	.bwp-dc5 { fill: #50abe4; }
	.bwp-chart { background-color: #333333; }
	.bwp-chart-piece-label { fill: var(--default-color-dark); }
	.bwp-chart-grid { stroke: rgb(255 255 255 / 0.25); }
	.bwp-chart-scale, .bwp-chart-axes  { stroke: var(--default-color-dark); }
}
