/* diagram-colors */
:root {
	--diagram-c1-light: #7cfc00;
	--diagram-c2-light: #ffd700;
	--diagram-c3-light: #ff6347;
	--diagram-c4-light: #20b2aa;
	--diagram-c5-light: #87cefa;
	--diagram-c1-dark: #64b514;
	--diagram-c2-dark: #b89e14;
	--diagram-c3-dark: #e63d1f;
	--diagram-c4-dark: #25837e;
	--diagram-c5-dark: #50abe4;
}

.bwp-dc1 { fill: var(--diagram-c1-light); }
.bwp-dc2 { fill: var(--diagram-c2-light); }
.bwp-dc3 { fill: var(--diagram-c3-light); }
.bwp-dc4 { fill: var(--diagram-c4-light); }
.bwp-dc5 { fill: var(--diagram-c5-light); }

.bwp-chart { background-color: #EEEEEE; }

.bwp-chart-legend-text {
	font-size: 18px;
}

.bwp-chart[bwp-chart-hover] .bwp-chart-piece:hover .bwp-chart-piece-label,
.bwp-chart[bwp-chart-labels]:not(.bwp-chart[bwp-chart-hover]) .bwp-chart-piece-label,
.bwp-chart[bwp-chart-hover] .bwp-chart-serie:hover .bwp-chart-serie-labels,
.bwp-chart[bwp-chart-labels]:not(.bwp-chart[bwp-chart-hover]) .bwp-chart-serie-labels
{
	opacity: 1;
}

.bwp-chart[bwp-chart-hover] .bwp-chart-piece:hover,
.bwp-chart[bwp-chart-hover] .bwp-chart-serie:hover
{
	filter: brightness(110%);
}

.bwp-chart[bwp-chart-hover] .bwp-chart-piece:hover .bwp-chart-legend-text,
.bwp-chart[bwp-chart-hover] .bwp-chart-serie:hover .bwp-chart-legend-text
{
	font-weight: 900;
}

.bwp-chart-piece, .bwp-chart-serie {
	filter: brightness(80%);
}

.bwp-chart-piece-path {
	stroke: none;
}

.bwp-chart-piece-label, .bwp-chart-serie-labels {
	opacity: 0;
	transition: opacity .4s ease-in-out;
	pointer-events: none;
	text-anchor: middle;
	dominant-baseline: middle;
}

.bwp-chart:not(.bwp-chart[bwp-chart-labels]) .bwp-chart-piece-label,
.bwp-chart:not(.bwp-chart[bwp-chart-labels]) .bwp-chart-serie-labels
{
	display: none;
}

.bwp-chart-scale {
	font-size: 14px;
}

.bwp-chart-scale, .bwp-chart-axes, .bwp-chart-serie-line {
	stroke: var(--default-color-light);
	fill: none;
}

.bwp-chart-grid {
	stroke: rgb(0 0 0 / 0.25);
}

.bwp-columnchart .bwp-chart-scale-x {
	display: none;
}

.bwp-chart-serie-line {
	fill: none !important;
	stroke-width: 4;
}

.bwp-chart-serie-line.bwp-dc1 { stroke: var(--diagram-c1-light); }
.bwp-chart-serie-line.bwp-dc2 { stroke: var(--diagram-c2-light); }
.bwp-chart-serie-line.bwp-dc3 { stroke: var(--diagram-c3-light); }
.bwp-chart-serie-line.bwp-dc4 { stroke: var(--diagram-c4-light); }
.bwp-chart-serie-line.bwp-dc5 { stroke: var(--diagram-c5-light); }

.bwp-chart-error > div > span {
	color: var(--default-highlight-color-light);
	margin-bottom: 5px;
}

.bwp-chart-error > div {
	height: 90%;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media (prefers-color-scheme: dark) {
	.bwp-dc1 { fill: var(--diagram-c1-dark); }
	.bwp-dc2 { fill: var(--diagram-c2-dark); }
	.bwp-dc3 { fill: var(--diagram-c3-dark); }
	.bwp-dc4 { fill: var(--diagram-c4-dark); }
	.bwp-dc5 { fill: var(--diagram-c5-dark); }
	.bwp-chart { background-color: #333333; }
	.bwp-chart-piece-label, .bwp-chart-serie-labels { fill: var(--default-color-dark); }
	.bwp-chart-grid { stroke: rgb(255 255 255 / 0.25); }
	.bwp-chart-scale, .bwp-chart-axes, .bwp-chart-serie-line { stroke: var(--default-color-dark); }
	.bwp-chart-serie-line.bwp-dc1 { stroke: var(--diagram-c1-dark); }
	.bwp-chart-serie-line.bwp-dc2 { stroke: var(--diagram-c2-dark); }
	.bwp-chart-serie-line.bwp-dc3 { stroke: var(--diagram-c3-dark); }
	.bwp-chart-serie-line.bwp-dc4 { stroke: var(--diagram-c4-dark); }
	.bwp-chart-serie-line.bwp-dc5 { stroke: var(--diagram-c5-dark); }
	.bwp-chart-error > div > span { color: var(--default-highlight-color-dark); }
}
